1. Create a dictionary that contains 
            name = Alex Ryder
            age  = 28
Update the age to 32 and another element to the dictionary
            age = 32
            town = calicut
Expected output
            {'name': 'Alex Ryder', 'age': 32, 'town': 'calicut'}

In [1]:
#please enter your answer below this line
My_Prof = {'Name':'Alex Ryder','Age':28}
My_Prof['Age'] = 32
My_Prof['Town'] = 'Calicut'
print(My_Prof)

{'Name': 'Alex Ryder', 'Age': 32, 'Town': 'Calicut'}

2. Create a dictionary containing the squares of numbers from 1 to 5.
Expected output
            {1: 1, 2: 4, 3: 9, 4: 16, 5: 15}

From this dictionary remove the item 3 and its square.

Expected output
                    
                {1: 1, 2: 4, 4: 16, 5: 15}

Now remove all items from the dictionary.

Expected output

      {}

Now delete the dictionary itself.

In [8]:
#please enter your answer below this line
Square = {1:1, 2:4, 3:9, 4:16, 5:25}
print(Square)
Square.pop(3)
print(Square)
Square.clear()
print(Square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 4: 16, 5: 25}
{}

3. Make a set containing the elements 1, hello, (0,1,2).

Expected output
            
            {'hello', 1, (0, 1, 2)}

Now add the value 6 to the set.

Expected output

        {'hello', 1, (0, 1, 2), 6}

In [29]:
#please enter your answer below the line
Set = {1:'Hello',2:1,3:[0,1,2]}
print(Set[1],Set[2],Set[3])
Set[4] = 6
print(Set[1],Set[2],Set[3],Set[4])

Hello 1 [0, 1, 2]
Hello 1 [0, 1, 2] 6